<!DOCTYPE html>

<head>
    <title>Weather</title>
  <link rel="icon" href="/img/weatherIcon.png">
    <link rel="stylesheet" href="./css/styles.css">
    <title>About Page</title>
</head>
<body>
    <div class="main-content">
{{>header}}
    <img src="/img/DustinPhoto.jpg" class="portrait" alt="">
    </div>
    
    {{>footer}}
</body>
</html>